:root {
	--vue-logo-dark-green: #34495e;
	--vue-logo-light-green: #41b883;
	--dark-white: #d6d9d7;

	--pallete-1-yellow: #E9C46A;
	--pallete-2-orange: #F4A261;
	--pallete-3-green: #2A9D8F;
	--pallete-4-dark-blue: #264653;
	--pallete-5-red: #E76F51;
}

html {
	background-color: var(--vue-logo-light-green);
	font-family: Arial, sans-serif;
	text-align: center;
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	contain: layout;
}

h1 {
	color: white;
	vertical-align: middle;
}

header {
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	height: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 2vw;
	padding: 2vw;
	justify-items: strech;
	align-content: center;
	box-sizing: border-box;
}

input {
	border: 1px solid black;
	border-radius: 3px;
	height: 1.3rem;
}





.color-block {
	background-color: var(--pallete-1-yellow);
	border-color: orangered;
	color: var(--pallete-4-dark-blue);
	border-radius: 11px;
	padding: 8px;
	display: grid;
	align-content: center;
	border: 3px solid var(--vue-logo-dark-green);
}